@import url('http://fonts.googleapis.com/css?family=Bree+Serif|Merriweather');
@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');
//@import url('http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css');


body {
    
    background: url("../img/bg.png");
    background-position: center;
    font: 20px/1.4 'Open Sans Condensed', Tahoma, Geneva, sans-serif;
}

a {
    text-decoration: none; 
}

h2 {
    font-size: 30px;
}