@import "compass";
@import "compass/reset";

@import "variables";
@import "mixins";
@import "base";


header {
    position: fixed;
    height : 50px;
    width: 100%;
    background: $color1;
    z-index: 999;
    vertical-align: middle;
    //border: solid 1px red;
    border-bottom: solid 2px #757575;
    @include box-shadow(15px);
}


footer {
    clear: both;
    background: $color1;
    height: 100px;
    width: 100%;
    border-top: solid 2px #757575;
    display: table;
    vertical-align: middle;
    @include box-shadow(15px);
}


.links  {
    //border: 1px solid blue;
    z-index: 1000;
	float: left;
	padding: 5px;
    margin: 10px;
    display: table;
    text-align: center;
    vertical-align: middle;
    font-size: 18px;
    @include border-radius(10px);
    
    a {
        color: white;
    }
    
}
    
.logo {
    position: fixed;
    padding-top: 2px;
    padding-bottom: 2px;
    //border: 1px solid blue;
    z-index: 1000;
    margin-left: 40px;
    float: left;
    img {
        height: 60px;
    }
}

nav {
    //border: 1px solid red;
    float: right;
    display: table;
}

.content {
    overflow: hidden;
    padding: 8px;
    margin: 10px;
	background: #fff;
    //border: solid 1px red;
    @include box-shadow(15px);
}


.content2 {
    position: relative;
    height: 430px;
    margin: 10px;
    padding: 8px;
    background: white;
    @include box-shadow(15px);

}

.content3 {
    height: 100%;
    width: 100%;
	background-image: url("../img/quad.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;    
    opacity: .5;
}

.content4 {
    position: relative;
    margin: 10px;
    padding: 8px;
    overflow: hidden;
	background: #fff;
    @include box-shadow(15px);
}

.thumb {
    float:left;
    margin: 10px;
    padding: 8px;
	background: #fff;
    width: 295px;
    @include box-shadow(15px);
}

.wrapper {
	width:995px;
    height: 100%;
	margin: 0 auto;
    //border: solid 1px red;
}

.subwrapper {
    overflow: hidden;
    //border: solid 1px red;
    margin-top:  10px;
    margin-bottom: 40px;
}

.block1 {
    border: solid 1px blue;
    height: 200px;
    font: 14px 'Dosis', sans-serif;
    text-align: left;
    padding: 20px;
}

.grid {
    float:left;
    width: 285px;
    height: 210px;
    font: 14px 'Dosis', sans-serif;
    text-align: left;
    padding: 20px;    
    //border: solid 1px blue;

}

.btn {
    clear: both;
	padding: 6px 15px;
	border: 1px #ccc solid;
	background: #f5f5f5;
	color: #000;
	font-weight: normal; 
    @include transition(0.5s);
    @include box-shadow(5px);
    @include border-radius(5px);
}
.btn:hover {
	  background: orange;
}

    
/*******  carrousel *********/
#car_inner {
    position: relative;
    float:left; 
    width:100%; 
    overflow: hidden;  
}

#car_ul {
    position:relative;
    left:-980px;
    list-style-type: none; 
    margin: 0px;
    padding: 0px;
    width:9999px; 
}

#car_ul li{
    float: left;                                   
    width:975px; 
    padding:0px;
    height:410px;
    background: grey;
}

#car_ul li img {
    .margin-bottom:-4px; 
    border:0px; 
    width:100%;
}

#car_left {
    position: absolute;
    top: 170px;
    left: 20px;
    z-index: 50;
    //border: solid 1px red;
    width:55px; 
}

#car_right {
    position: absolute;
    top: 170px;
    right: 20px;
    z-index: 50;
    //border: solid 1px red;
    width:55px; 
}

#car_left img{  
    width:50px;
    cursor: pointer;
    cursor: hand;
}

#car_right img{
    width:50px;
    cursor: pointer;
    cursor: hand;
}

/***** MODAL ******/

.gallery {
    display: block;
    background: grey url(../img/magnify.png) center center no-repeat;
}

.gallery img {
    width: 100%;
    box-shadow: 0 0 #fff;
    @include transition(0.5s);
}

.gallery:hover img {
    opacity: 0.3;
}



#mask{ 
    position:fixed; 
    top:0px; 
    left:0px; 
    height:100%;
    width:100%;  
    display:none;           
    z-index: 1000;
    background-color: black; 
}
    
.modal{
    position:fixed;
    display:none; 
    z-index: 1001;
    padding: 10px;
    background: white;
}
    

video {
    float: left;
    z-index: -100;
    opacity: .5;
}

.pict {
    margin-right: 10px;
    margin-bottom: 5px;
    background: white;
    padding: 4px;
    float: left;
    @include box-shadow(15px);
}

#con {
    position: absolute;
    top: 50%;
    left: 0px;
    height: 100px;
    width:  100%;
    z-index: 100px;
    text-align: center;
    
    a {
        color: white;
        font-size: 30px;
    }
}

#text {
    position: absolute;
    top: 50px;
    left: 0px;
    width: 100%;
    padding: 15px;
    color: black;
    text-align: center;
}

.footgrid {
    display:table-cell;
    vertical-align: middle;
    //border: solid 1px green;
}

.copyright {
    padding-top: 5px;
    //border: solid 1px red;
    float: left;
    color: #fff;
    margin-left: 30px;
    font-size: 16px;
}

.icon {
    //border: solid 1px red;
    float: right;
    color: #fff;
    margin-right: 30px;
    
    a {
        color: white;
    }
    
}

.icon .fa {
    background-color: #ddd;
    font-size: 25px;
    float: left;
    line-height: 50px;
    width: 50px;
    height: 50px;
    margin: 8px;
    text-align: center;
    @include border-radius(10px);
}

.icon .fa:hover {
    color: #fff;
    background-color: orange;
}
